@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

:root {
    --background-color: #EEE;
    --primary-color: #C8A3DD;
    --secondary-color: #64419A;
    --tertiary-color: #3C2035;
}

body {
    font-size: 1.6rem;
    background: var(--background-color);
}

.menu-link {
    color: var(--secondary-color);
}